body{
	padding:5%;
	background-color: #444;
}

.dropdown-toggle{
	width: 250px;
}

.float-right{
	float:right;
}

.float-left{
	float:left;
}
.subscribe-form{
	background-color: #EEE;
	width: 65%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}

.row{
	padding-top: 2.5%;	
	padding-bottom: 2.5%;
}
.form-green{
	color: #34C46C;
}

.greeting-head, .to-label{
    font-family: sans-serif;
    text-align: center;
}

.to-label{
	margin: 1% 0 0 42%;
}

.dropdown-menu{
	overflow-x: hidden;
	max-height: 200px;
	height: auto;
}

.dropdown-menu li{
	padding-left: 15%;
	padding-bottom: 5%;
	cursor: pointer;
}

/*  Subscribe Button CSS */
.subscribe-button{
	border-bottom-color: #11B556;
    border-bottom-width: 10px;
    background-color: #2DCC70;
    border-radius: 0;
    margin-bottom: 0px;
    width: 100%;
    margin-left: 17.5%;
    width: 65%;
}