<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Getting Started: Handing Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  <link rel="stylesheet" type="text/css" href="subscribe.css">  -->	
</head>
<body>
	<h1 class="greeting-head">X-Rates</h1>
	<div class="greeting-description"> Fill out the following form in order to subscribe.</div>
	
    <form action="#" th:action="@{/greeting}" th:object="${greetingObj}" method="post">
    	
    	<div>
    		<div> Your Email Address: </div>
    		<input type="text" th:field="*{id}" />
    	</div>
    	
        <div> 
        	<div>From Currency:</div> 
        	<select th:field="*{currencyList}" id="fromCurrencyField">
	        	<option value="NONE">From currency</option>
        		<option th:each="currency : *{currencyList}"
        				th:value = "${currency}"
        				th:text= "${currency}">Currency</option>
        	</select>
        </div>
        
        <div> 
        	<div> To Currency: </div>
        	<select id="toCurrencyField">
        		<option value="NONE"></option>
        	</select>
        </div>
        
        <div> 
        	<div> Services: </div> 
        	<div> 
        	</div>
        </div>
        <div><input type="submit" value="Subscribe" /></div>
    </form>
    <script src = "../static/js/lib/jquery-2.1.4.min.js" th:src="@{/js/lib/jquery-2.1.4.min.js}"/>
    <script src = "../static/js/subscribe.js" th:src="@{/js/subscribe.js}"/>

</body>
</html>