<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Getting Started: Handing Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../static/css/lib/bootstrap.min.css" th:href="@{/css/lib/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/subscribe.css" th:href="@{/css/subscribe.css}"/>	
</head>
<body>
	<div class="form-body">
	    <form action="#" th:action="@{/greeting}" th:object="${greetingObj}" method="post">
	    	<div class="subscribe-form container-fluid">
	    		<div class="row">
					<div class="col-md-8 col-md-offset-2"><h1 class="greeting-head form-green">X-RATES</h1></div>
				</div>
		    	<div class="row form-group">
		    		<input type="text" th:placeholder="*{emailAddress}" class="form-control" id="email-input"/>
		    	</div>
		    	
		        <div class="row"> 
		        	<div class="float-left">
		        		<div class="dropdown">
			        		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		        				From Currency  <span class="caret"></span>
		        			</button>
			        		
		        			<ul class="dropdown-menu from-currency-dropdown">
			        			<li th:each="currency : *{currencyList}" th:text="${currency}"> <a href="#"> ${currency} </a></li>
		        			</ul>
		        		</div>
		        	</div>
		              	
		        	<div class="float-right">
		        		<div class="dropdown">
			        		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		        				To Currency  <span class="caret"></span>
		        			</button>
			        		
		        			<ul class="dropdown-menu to-currency-dropdown"></ul>
		        		</div>
		        	</div>
		        	<div class="to-label form-green">TO</div>
		        </div>
		        
		        <div class="row">
		        	<div class="form-green"> Services: </div> 
		        	<div id="relevantServices"></div>
		        </div>
		        
		        <div class="row">
		        	<div class="form-green"> Email Frequency: </div>
		        	<input type="radio" name="subscriptionType" value="regular"/> Subscribe to regular updates <br/>
		        	<input type="radio" name="subscriptionType" value="conditional"/> Email me only when the rate is greater than 
		        </div>
	        </div>
	        <div><input type="submit" value="SUBSCRIBE" class="btn btn-primary btn-lg btn-success subscribe-button"/></div>
	    </form>
    </div>
    <script src = "../static/js/lib/jquery-2.1.4.min.js" th:src="@{/js/lib/jquery-2.1.4.min.js}"></script>
    <script src = "../static/js/lib/bootstrap.min.js" th:src="@{/js/lib/bootstrap.min.js}"></script>
    <script src = "../static/js/subscribe.js" th:src="@{/js/subscribe.js}"></script>

</body>
</html>